###### Email Server Configuration #####

## Copy this as TOMCAT_PROJECT_ROOT/WEB-INF/classes/config.properties

fromEmailAddress=
mail.smtp.host=
mail.smtp.port=
mail.smtp.auth=true
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
emailUsername=
emailPassword=



